{% extends 'marketplace/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Log in</h1>

    <form method="post" action="{% url 'Doctor:login' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2" for="id_username">Username</label><br>
            <input type="text" name="username" id="id_username" class="w-full p-2 border border-gray-300 rounded-lg" required>
            {% if form.username.errors %}
                <div class="text-red-500">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2" for="id_password">Password</label><br>
            <input type="password" name="password" id="id_password" class="w-full p-2 border border-gray-300 rounded-lg" required>
            {% if form.password.errors %}
                <div class="text-red-500">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        {% if error %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}

        <button type="submit" class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>
{% endblock %}
